body {
    font-family: $font-normal;
    @include font-size(16px);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media (min-width: 1800px) {
    .container, .width-xxl {
        max-width: 1600px;
    }
}

p {
    margin-top: 0;
}

a {
    color: $color-link;
    transition: $transition;

    &:hover {
        color: lighten($color-link, 20%);
        text-decoration: none;
    }
}
