.online-home {
    .home-highlight {
        position: relative;
        overflow-x: hidden;
        width: 100vw;

        @include media-breakpoint-up(xl) {
            background: rgb(239, 247, 248);
            background: linear-gradient(
                    50deg,
                    rgba(239, 247, 248, 1) 0%,
                    rgba(247, 247, 247, 1) 40%
            );
        }
    }

    .home-slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
    }

    .slide-dotnav {
        z-index: 99;
        position: absolute;
        bottom: 20px;
        left: 20px;

        @include media-breakpoint-down(lg) {
            left: 50%;
            transform: translateX(-50%);
        }

        .uk-dotnav > * > * {
            width: 30px;
            height: 4px;
            border-radius: 0;
        }
    }

    .home-search {
        padding-bottom: $space-box * 2;

        @include media-breakpoint-up(xl) {
            position: relative;
            z-index: 3;
            padding-top: $space-box * 9;
            padding-bottom: $space-box * 5;
        }

        &-mobile {
            @include media-breakpoint-down(lg) {
                padding-top: $space-box * 2;
                min-height: 580px;
                position: relative;

                .header,
                .sub-header,
                .sub-text {
                    color: white;
                    text-shadow: $text-shadow;
                }
            }
        }
    }

    .home-benefits {
        background-color: $color-bg-1;
    }

    .home-more {
        text-align: center;
        padding: $space-box * 2 0;
        border-bottom: 15px solid $color-bg-2;
    }
}
