.online-home {
    .home-highlight {
        position: relative;
        overflow-x: hidden;

        @include media-breakpoint-up(xl) {
            background: rgb(239, 247, 248);
            background: linear-gradient(
                    50deg,
                    rgba(239, 247, 248, 1) 0%,
                    rgba(247, 247, 247, 1) 40%
            );
        }
    }

    .home-slide {
        height: 500px;
        overflow: hidden;
    }

    .slide-box {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .slide-dotnav {
        z-index: 99;
        position: absolute;
        bottom: 20px;
        right: 20px;

        @include media-breakpoint-down(lg) {
            left: 50%;
            transform: translateX(-50%);

            .uk-dotnav {
                justify-content: center;
            }
        }

        .uk-dotnav > * > * {
            width: 30px;
            height: 8px;
            border-radius: 0;
        }
    }

    .home-banner {
        @include media-breakpoint-up(xl) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            height: 100%;
            padding-top: $space-box * 6;
        }

        &-text {
            @include media-breakpoint-down(lg) {
                position: absolute;
                width: 100%;
                z-index: 2;
                top: $space-box * 2;
                padding-left: $space-box * 2;

                .header,
                .sub-header,
                .sub-text,
                span {
                    color: white !important;
                    text-shadow: $text-shadow;
                }
            }
        }
    }

    .home-search {
        padding-bottom: $space-box * 2;

        @include media-breakpoint-up(xl) {
            position: relative;
            z-index: 3;
            padding-top: $space-box * 9;
            padding-bottom: $space-box * 5;
        }

        &-mobile {
            @include media-breakpoint-down(lg) {
                padding-top: $space-box * 2;
                min-height: 580px;
                position: relative;

                .header,
                .sub-header,
                .sub-text {
                    color: white;
                    text-shadow: $text-shadow;
                }
            }
        }
    }

    .home-benefits {
        background-color: $color-bg-1;
    }

    .home-more {
        text-align: center;
        padding: $space-box * 2 0;
        border-bottom: 15px solid $color-bg-2;
    }
}
